<div class="container-fluid mt-5">
  <h4>Marvel Series</h4>
  <div class="row">
    <div class="col-lg-3 mt-3 mb-3" *ngFor="let s of series">
      <div class="card">
        <img
          src="{{
            s.thumbnail.path + '/standard_medium.' + s.thumbnail.extension
          }}"
          width="100%"
          class="card-img-top"
          alt="We encountered a problem uploading your image..."
        />
        <div class="card-body">
          <h5 class="card-title">{{ s.title }}</h5>
          <!-------<h6 class="card-title">{{ s.id }}</h6>---->
        </div>
      </div>
    </div>
  </div>
</div>
