<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-lg-6"></div>
    <div class="col-lg-3">
      <input
        class="form-control mr-sm-2"
        type="number"
        required
        name="characterSeriesId"
        id="characterSeriesId"
        placeholder="Search"
        aria-label="Search"
        (keyup)="GetCharacterBySeriesId($event)"
        type="number"
        required
        name="charactersCharacterId"
        id="charactersCharacterId"
        placeholder="Search"
        aria-label="Search"
        (keyup)="GetCharacterByCharacterId($event)"
      />
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>

<!--------------------------------------------------------------------------->

<div class="container-fluid mt-5" *ngIf="!showSearchResultCharacter">
  <h4>Marvel Characters</h4>
  <div class="row">
    <div class="col-lg-3 mt-3 mb-3" *ngFor="let characters of characters">
      <div class="card">
        <img
          src="{{
            characters.thumbnail.path +
              '/standard_medium.' +
              characters.thumbnail.extension
          }}"
          width="100%"
          class="card-img-top"
          alt="We encountered a problem uploading your image..."
        />
        <h5 class="card-title">{{ characters.name }}</h5>
      <!---  <h6 class="card-title">{{ characters.id }}</h6> --->
      </div>
    </div>
  </div>
</div>

<!--------------------------------------------------------------------------->

<div class="container-fluid mt-5" *ngIf="showSearchResultSeries">
  <h4>Marvel Series</h4>
  <div class="row">
    <div class="col-lg-3 mt-3 mb-3" *ngFor="let series of findSeries">
      <div class="card">
        <img
          src="{{
            series.thumbnail.path +
              '/standard_medium.' +
              series.thumbnail.extension
          }}"
          width="100%"
          class="card-img-top"
          alt="We encountered a problem uploading your image..."
        />
        <div class="card-body">
        <h5 class="card-title">{{ series.name }}</h5>
        <!---- <h6 class="card-title">{{ series.id }}</h6> ---->
        </div>
      </div>
    </div>
  </div>
</div>


