<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-lg-6"></div>
    <div class="col-lg-3">
      <input
        class="form-control mr-sm-2"
        type="number"
        required
        name="characterSeriesId"
        id="characterSeriesId"
        placeholder="Search"
        aria-label="Search"
        (keyup)="GetCharacterBySeriesId($event)"
      />
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>

<!--------------------------------------------------------------------------->

<div class="container-fluid mt-5" *ngIf="!showSearchResult">
  <h4>Marvel Characters</h4>
  <div class="row">
    <div class="col-lg-3 mt-3 mb-3" *ngFor="let characters of characters">
      <div class="card">
        <img
          src="{{
            characters.thumbnail.path +
              '/standard_medium.' +
              characters.thumbnail.extension
          }}"
          width="100%"
          class="card-img-top"
          alt="We encountered a problem uploading your image..."
        />
        <!-----
        <div class="card-body">
          <h5 class="card-title">{{ characters.name }}</h5>
          <button
            type="button"
            (click)="GetComicsByCharacter(characters.id)"
            class="btn btn-outline-primary mr-4"
            data-toggle="modal"
            data-target=".bd-example-modal-lg"
          >
            Comics
          </button>
          <button type="button" (click)="GetSeriesByCharacter(characters.id)" class="btn btn-outline-secondary" data-toggle="modal" data-target=".cd-example-modal-lg">Series</button>--->
        <h5 class="card-title">{{ characters.name }}</h5>
        <h6 class="card-title">{{ characters.id }}</h6>
        <button
          type="button"
          (click)="GetComicsByCharacter(characters.id)"
          class="btn btn-outline-primary mr-4"
          data-toggle="modal"
          data-target=".bd-example-modal-lg"
        >
          Comics
        </button>
      </div>
    </div>
  </div>
</div>
